@model CategoryModel.SubCategoryModel
@inject IViewComponentSelector viewComponentSelector
@using Nop.Services.Catalog
@inject ICategoryService categoryService
@using Nop.Core.Infrastructure
@using Nop.Services.Catalog
@using Nop.Services.Media



@{
    string controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    string actionName = Url.ActionContext.RouteData.Values["action"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
                     actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var categoryItemClass = string.Empty;
    if (isHomePage)
    {
        categoryItemClass = "category-item";
    }
    else
    {
        categoryItemClass = "sub-category-item";
    }
}
@{
    var categoryService = EngineContext.Current.Resolve<ICategoryService>();
    var pictureService = EngineContext.Current.Resolve<IPictureService>();

   string hoverUrl = Url.Content("~/Themes/Emporium/Content/img/productBoxHover.jpg");
string hoverIconUrl = "";

var category = await categoryService.GetCategoryByIdAsync(Model.Id);


/* Hover Picture */

if (category?.HoverPictureId != null && category.HoverPictureId > 0)
{
    var hoverPicture = await pictureService.GetPictureByIdAsync(category.HoverPictureId.Value);

    if (hoverPicture != null)
    {
        var result = await pictureService.GetPictureUrlAsync(hoverPicture);
        hoverUrl = result.Url;
    }
}


/* Hover Icon */

if (category?.HoverIconId != null && category.HoverIconId > 0)
{
    var hoverIcon = await pictureService.GetPictureByIdAsync(category.HoverIconId.Value);

    if (hoverIcon != null)
    {
        var result = await pictureService.GetPictureUrlAsync(hoverIcon);
        hoverIconUrl = result.Url;
    }
}
   
}




<div class="@categoryItemClass">
    <div class="picture">
        <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })" title="@Model.PictureModel.Title" style="--hover-bg: url('@hoverUrl')">
            @if (viewComponentSelector.SelectComponent("LazyLoadImage") != null)
            {
                <div class="cat-main">
                @await Component.InvokeAsync("LazyLoadImage", new (string Key, string Value)[]
                {
                    ("src", Model.PictureModel.ImageUrl),
                    ("alt", Model.PictureModel.AlternateText),
                    ("title", Model.PictureModel.Title)
                })
                </div>
                <div class="cat-icon">
                    @await Component.InvokeAsync("LazyLoadImage", new (string Key, string Value)[]
                {
                    ("src", hoverIconUrl)
                })

                </div>
            }
            else
            {
                <img alt="@Model.PictureModel.AlternateText" src="@Model.PictureModel.ImageUrl" title="@Model.PictureModel.Title" />
            }
        <h2 class="title">
                @Model.Name
        </h2>
        </a>
    </div>
</div>