@model TopMenuModel.CategoryLineModel

<style>
    .category-with-image {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .category-image {
        width: 28px;
        height: 28px;
        object-fit: cover;
        vertical-align: middle;
    }

</style>

<li @if (Model.Level == 0) {
<text>class="root-category-items"</text>
}
>

   
    @if (Model.Category.SubCategories.Count > 0)
    {
            <a class="with-subcategories category-with-image"
               href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">
 @* image *@
                @if (!string.IsNullOrEmpty(Model.Category.PictureUrl))
                {
                        <img src="@Model.Category.PictureUrl"
                             alt="@Model.Category.Name"
                             class="category-image" />
                }

                @Model.Category.Name
            </a>

            <div class="plus-button"></div>

            <div class="sublist-wrap">
                <ul class="sublist">
                    <li class="back-button">
                        <span>@T("SevenSpikes.Themes.Common.BackSublist")</span>
                    </li>

                    @foreach (var subCategory in Model.Category.SubCategories)
                    {
                            var categoryLineModel = new TopMenuModel.CategoryLineModel
                            {
                                    Category = subCategory,
                                    Level = Model.Level + 1,
                                    ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                            };

                            @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                    }
                </ul>
            </div>
    }
    else
    {
            <a class="category-with-image"
               href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">

                @if (!string.IsNullOrEmpty(Model.Category.PictureUrl))
                {
                        <img src="@Model.Category.PictureUrl"
                             alt="@Model.Category.Name"
                             class="category-image" />
                }

                @Model.Category.Name

                @if (Model.Category.NumberOfProducts.HasValue)
                {
                        @T("Categories.TotalProducts", Model.Category.NumberOfProducts.Value)
                }
            </a>
    }

</li>
