@model IList<Nop.Web.Models.Blogs.HomepageBlogModel>

<link rel="stylesheet" href="~/Themes/Emporium/Content/css/homepage-blog.css" />



<div class="latest-blogs">
    <div class="title">
        <strong>@T("Latest.Blogs&News")</strong>
    </div>
    <div class="view-all">
        <a href="@Url.RouteUrl("blog")">@T("Blogs.ViewAll")</a>
    </div>
    <div class="blogs-grid">
        @foreach (var blog in Model)
        {
            <article class="blog-card">
                <div class="blog-card-media">
                    <a href="@blog.Url" class="blog-image-link" >
                        <img src="@blog.PictureUrl" alt="@blog.Title" loading="lazy" />
                    </a>
                </div>

                <div class="blog-card-body">
                    <span class="blog-date">
                        @blog.CreatedOn.ToString("dd MMM yyyy").ToUpper()
                    </span>

                    <h3 class="blog-title">
                        <a href="@blog.Url">@blog.Title</a>
                    </h3>

                    <div class="blog-excerpt">
                        @Html.Raw(blog.ShortDescription)
                    </div>
                </div>

                <div class="blog-card-footer">
                    <a href="@blog.Url" class="blog-read">
                        READ MORE &gt;
                    </a>

                </div>
            </article>
        }
    </div>
</div>